{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Current Rent Info</h6>
            </div>
            {% if unpaid_orders %}
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                                <tr>
                                    <th>OrderId</th>
                                    <th>Vehicle Type</th>
                                    <th>Vehicle Plate Num</th>
                                    <th>Price</th>
                                    <th>Start date</th>
                                    <th>Status</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>OrderId</th>
                                    <th>Vehicle Type</th>
                                    <th>Vehicle Plate Num</th>
                                    <th>Price</th>
                                    <th>Start date</th>
                                    <th>Status</th>
                                    <th>Operation</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            {% for cur_order in cur_order %}
                                {% for vehicle_details in details %}
                                    <tr>
                                        <td>{{ cur_order.id }}</td>
                                        <td>{{ vehicle_details.type }}</td>
                                        <td>{{ vehicle_details.platNum }}</td>
                                        <td>{{ vehicle_details.price }}</td>
                                        <td>{{ cur_order.startTime }}</td>
                                        <td>
                                            <p class="m-0">{{ cur_order.status }}</p>
                                            <a class="small m-0" href="{% url 'e_portal:pwd_reset' %}">Make Payment</a>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <button type="submit" class="btn btn-sm btn-primary btn-user mx-1">Return</button>
                                                <button type="submit" class="btn btn-sm btn-secondary btn-user mx-1">Report</button>
                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="container">
                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <h2 class="m-lg-5" style="font-weight: bold; font-size: 50px">You do not have order yet</h2>
                        <p class="text-warning mb-0">Rent a vehicle?  <a href="{% url 'e_portal:vehicles_list' %}" style="text-decoration: none"> click me</a></p>
                    </div>

                </div>
            {% endif %}
        </div>
    </div>

    这里的unpaid_order里没有相关的车辆信息
    {% if unpaid_order %}
        <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-warning">Unpaid Order</h6>
            </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                                <tr>
                                    <th>OrderId</th>
                                    <th>Vehicle Type</th>
                                    <th>Vehicle Plate Num</th>
                                    <th>Price</th>
                                    <th>Start date</th>
                                    <th>Status</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>OrderId</th>
                                    <th>Vehicle Type</th>
                                    <th>Vehicle Plate Num</th>
                                    <th>Price</th>
                                    <th>Start date</th>
                                    <th>Status</th>
                                    <th>Operation</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            {% for unpaid_order in unpaid_order %}
                                {% for vehicle_details in details %}
                                    <tr>
                                        <td>{{ unpaid_order.id }}</td>
                                        <td>{{ vehicle_details.type }}</td>
                                        <td>{{ vehicle_details.platNum }}</td>
                                        <td>{{ vehicle_details.price }}</td>
                                        <td>{{ unpaid_order.startTime }}</td>
                                        <td>
                                            <p class="m-0">{{ unpaid_order.status }}</p>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <button type="submit" class="btn btn-sm btn-primary btn-user mx-1">Make Payment</button>
                                                <button type="submit" class="btn btn-sm btn-secondary btn-user mx-1">Report</button>
                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
    {% endif %}

{% endblock %}